

body{
	color:#283747;
	font-family: 'Century Gothic'; 
	margin:0;
	
}

.title{
	font-family: 'Lato', 'Arial', sans-serif;
	text-align: center;
	color: white;
}

.tabm{
	font-family: 'Lato', 'Arial', sans-serif;
	text-align: center;
	color: black;
}

a:link{
    text-decoration: none;
}
