<!-- carousel-->
<div id="carousel" class="container">
	<h2 class="tabm">EXPO</h2>
	<div class="carousel-img">
		<div id="img1">
			<img src="https://preview.ibb.co/eVTZfz/1.jpg" alt="casse dal">
		</div>

		<div id="img2">
			<img src="https://preview.ibb.co/dU80Lz/2.jpg" alt="casse dal">
		</div>

		<div id="img3">
			<img src="https://preview.ibb.co/dJiH0z/7.jpg" alt="casse dal">
		</div>

	</div>

	<div class="carousel-btn">
		<button id="prev">
		</button>
		<button id="next">
		</button>
	</div>
</div>