<nav class="navbar navbar-expand-lg navbar-light bg-light">

  
  
  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">

    </ul>
    
    <span class="navbar-text">
      Start-up Foodtech
    </span>

  </div>

</nav>

