	<!-- TABS -->
	<div class="tabs">
	  <button id="tab1" class=" ">Presentation</button>
	  <button id="tab2" class=" ">Menu</button>
	  <button id="tab3" class=" ">Autre</button>
	</div>

	<div id="presentation" class="tabcontent p">
	  <h3>Presentation</h3>
	  <p>
	  Iamque non umbratis fallaciis res agebatur, sed qua palatium est extra muros, armatis omne circumdedit. ingressusque obscuro iam die, ablatis regiis indumentis Caesarem tunica texit et paludamento communi, eum post haec nihil passurum velut mandato principis iurandi crebritate confirmans et statim inquit exsurge et inopinum carpento privato inpositum ad Histriam duxit prope oppidum Polam, ubi quondam peremptum Constantini filium accepimus Crispum.
	  </p>
	</div>

	<div id="menu" class="tabcontent m">
	  <h3>Menu</h3>
	  <p> 
	  Accenderat super his incitatum propositum ad nocendum aliqua mulier vilis, quae ad palatium ut poposcerat intromissa insidias ei latenter obtendi prodiderat a militibus obscurissimis. quam Constantina exultans ut in tuto iam locata mariti salute muneratam vehiculoque inpositam per regiae ianuas emisit in publicum, ut his inlecebris alios quoque ad indicanda proliceret paria vel maiora.
	  </p> 
	</div>

	<div id="rien" class="tabcontent r">
	  <h3>Autre</h3>
	  <p>
	  	Quam quidem partem accusationis admiratus sum et moleste tuli potissimum esse Atratino datam. Neque enim decebat neque aetas illa postulabat neque, id quod animadvertere poteratis, pudor patiebatur optimi adulescentis in tali illum oratione versari. Vellem aliquis ex vobis robustioribus hunc male dicendi locum suscepisset; aliquanto liberius et fortius et magis more nostro refutaremus istam male dicendi licentiam. Tecum, Atratine, agam lenius, quod et pudor tuus moderatur orationi meae et meum erga te parentemque tuum beneficium tueri debeo.
	  </p>
	</div>

	</div>